/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Establishing Variables */
:root {
    --yellow: yellow;
    --dark: black;
    --disabled: gray;
    --fullWidth: 100%;
    --boldFont: 'Alfa Slab One', cursive;
    --uppercase: uppercase;
}

/* Global Selector */
* {
  width: 100%;
  margin: 0;
}

body {
  background-color: var(--dark);
}

/* Header and Nav */
header {
    background-color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 29px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width:75%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-grow: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
    text-transform: var(--uppercase);
  }
  
  nav a {
    text-decoration: none;
    font-family: var(--boldFont);
    font-size: 100px;
    color: var(--yellow);
  }

/* Sections */
#about {
  background-color: var(--dark);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

#works {
  background-color: var(--yellow);
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact {
  background-color: var(--dark);
  color: var(--yellow);
  padding: 20px;
  margin: 20px;
}

/* Global Styling to be used for Titles */
.title {
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  margin: 10px;
  font-size: 80px;
}

/* About Section Elements */
#box {
  /* max-width: 80%; */
  flex: 1;
  padding: 20px;
  text-align: center;
  color: var(--yellow);
}

#box img {
  max-width: 50%;
  height: auto;
}

.introduction {
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  text-align: left;
  font-size: 80px;
  max-width: 90%;
}

#box p {
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
  max-width: 80%;
}

/* Works Section Elements */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

#featured {
  position: sticky;
    width: auto;
    height: 300px;
    margin: 20px;
}

#featured img {
  width: auto;
  height: 300px;
}

.featured-card {
  width: auto;
  height: 300px;
  padding: 10px;
  background-color: black;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.featured-card p {
  color: var(--dark);
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  font-size: 15px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  width: 250px;
  height: 250px;
  padding: 10px;
  background-color: black;
  margin: 20px;
  box-sizing: border-box;
}

.card img {
  width: 250px;
  height: 250px;
}

.card p {
  color: var(--dark);
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  font-size: 15px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: translateX(10px);
  transition: transform 0.5s linear;
}

/* Contact Section Elements */
.contact-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.contact-list a {
  font-family: var(--boldFont);
  font-size: 80px;
  text-transform: var(--uppercase);
  color: var(--yellow);
  text-decoration: none;
  transition: color 0.5s;

}

.contact-list a:hover {
  color: white;
}

.contact-list a::after {
  color: var(--yellow);
  text-decoration: none;
}