/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Establishing Variables */
:root {
    --yellow: yellow;
    --dark: black;
    --disabled: gray;
    --fullWidth: 100%;
    --boldFont: 'Alfa Slab One', cursive;
    --uppercase: uppercase;
}

/* Global Selector */
* {
  width: 100%;
  margin: 0;
}

body {
  background-color: var(--dark);
}

/* Header and Nav */
header {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    text-align: center;
  }
  
  nav li {
    margin: 0 10px;
    text-transform: var(--uppercase);
  }
  
  nav a {
    text-decoration: none;
    font-family: var(--boldFont);
    font-size: 4vw;
    color: var(--yellow);
    transition: color 0.5s;
  }

  nav a:hover {
    color: white;
  }
  
  nav a::after {
    color: var(--yellow);
    text-decoration: none;
  }


/* Sections */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

#works {
  background-color: var(--yellow);
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact {
  color: var(--yellow);
  padding: 20px;
}

/* Global Styling to be used for Titles */
.title {
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  margin: 10px;
  font-size: 4vw;
  text-align:center;
}

/* About Section Elements */
.image-container {
  display: flex;
  margin: 15px 0px 15px 0px;
}

.box {
  background: url("images/headshot.png") no-repeat;
  padding: 300px;
  background-position: right;
  background-size: contain;
  margin-right: 50px;
  transition: 0.25s;
}

.box:hover {
  background: url("images/hearteyes.png") no-repeat;
  background-position: right;
  background-size: contain;
  margin-right: 50px;
}

.box img {
  max-width: 50%;
  height: auto;
}

.bio-info {
  padding: 20px;
  max-width: 55%;
  color: var(--yellow);
}

.introduction {
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  text-align: left;
  font-size: 4vw;
  max-width: 60%;
}

.bio-info p {
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
  font-weight: bold;
  max-width: 60%;
}



/* Works Section Elements */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

#featured {
  position: sticky;
    width: auto;
    height: 300px;
    margin: 20px;
}

#featured img {
  width: auto;
  height: 300px;
}

.featured-card {
  width: auto;
  height: 300px;
  padding: 10px;
  background-color: black;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.featured-card p {
  color: var(--dark);
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  font-size: 15px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.featured-card:hover {
  transform: translateY(-10px);
  transition: transform 0.5s linear;
}

.card {
  width: 250px;
  height: 250px;
  padding: 10px;
  background-color: black;
  margin: 20px;
  box-sizing: border-box;
}

.card img {
  width: 250px;
  height: 250px;
}

.card p {
  color: var(--dark);
  font-family: var(--boldFont);
  text-transform: var(--uppercase);
  font-size: 15px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: translateX(10px);
  transition: transform 0.5s linear;
}

/* Contact Section Elements */
.contact-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.contact-list a {
  font-family: var(--boldFont);
  font-size: 4vw;
  text-transform: var(--uppercase);
  color: var(--yellow);
  text-decoration: none;
  transition: color 0.5s;

}

.contact-list a:hover {
  color: white;
}

.contact-list a::after {
  color: var(--yellow);
  text-decoration: none;
}

/* Mobile Responsiveness */
@media screen and (max-width: 786px) {
  .box {
    padding: 193px;
  }
  
  .box img {
    max-width: 100%;
    height: auto;
  }

  .introduction {
    font-family: var(--boldFont);
    text-transform: var(--uppercase);
    text-align: left;
    font-size: 4vw;
    max-width: 100%;
  }

  nav ul {
    justify-content: center;
  }

  nav a {
    font-size: 3rem;
  }

  .contact-list a {
    font-size: 33px;
  }

  .bio-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bio-info p{
    font-size: 2vw;
    text-align: left;
    padding-top: 10px;
    font-weight: bold;
    max-width: 100%;
  }
}